doctype html

html(ng-app = 'voteApp')

	head

		title= Vote
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
		
		
	


	body(ng-controller = 'voteCtrl')


		div#startVoteProcess

			div.jumbotron
				h1.jumbo Secure Voting System
				p.jumbo We have created a fully secure way to cast votes and completely esnure your votes are NOT being tampered with
				div.input-group.in-super
					span.input-group-addon#basic-addon1 #
					input.form-control(type="text" placeholder="Phone Number  (3 digit area code, 7 digit number)" aria-describedby="basic-addon1" ng-model="usrData.number")
				p.jumbo#votebtn1
					a.btn.btn-primary.btn-lg(role="button" ng-click="saveNumber(usrData.number)") Vote now








		div#voteSection

			div.jumbotron

				div.well.well-lg.in
					h3.title VOTING GRID



				table.voteTable


					//	VOTE ORDER
					tr.voteTableElement
						td.voteTableElement
						td.voteTableElement
							p 1
						td.voteTableElement
							p 2
						td.voteTableElement
							p 3

					//	VOTES
					tr.voteTableElement
						//CANDIDATE
						td.voteTableElement		
							p Donald Trump
						//
						td.voteTableElement
							p
								a.btn.btn-default#trumpVote1(ng-click="aPick('trumpVote1')") pick
						td.voteTableElement
							p
								a.btn.btn-default#trumpVote2(ng-click="aPick('trumpVote2')") pick
						td.voteTableElement
							p
								a.btn.btn-default#trumpVote3(ng-click="aPick('trumpVote3')") pick


						
					tr.voteTableElement
						//CANDIDATE
						td.voteTableElement
							p Hillary Clinton
						//
						td.voteTableElement
							p
								a.btn.btn-default#hillaryVote1(ng-click="aPick('hillaryVote1')") pick
						td.voteTableElement
							p
								a.btn.btn-default#hillaryVote2(ng-click="aPick('hillaryVote2')") pick
						td.voteTableElement
							p
								a.btn.btn-default#hillaryVote3(ng-click="aPick('hillaryVote3')") pick



					tr.voteTableElement
						//CANDIDATE
						td.voteTableElement
							p Bernie Sanders
						//
						td.voteTableElement
							p
								a.btn.btn-default#bernieVote1(ng-click="aPick('bernieVote1')") pick
						td.voteTableElement
							p
								a.btn.btn-default#bernieVote2(ng-click="aPick('bernieVote2')") pick
						td.voteTableElement
							p
								a.btn.btn-default#bernieVote3(ng-click="aPick('bernieVote3')") pick


				p#votebtn2
					a.btn.btn-success.btn-lg VOTE

	script(src="/javascripts/voteCtrl.js")

	