doctype html

html(ng-app = 'voteApp')

	head

		title= Vote
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
		
		
	


	body(ng-controller = 'voteCtrl')


		div#startVoteProcess

			div.jumbotron
				h1.jumbo Secure Voting System
				p.jumbo We have created a fully secure way to cast votes and completely esnure your votes are NOT being tampered with
				div.input-group.in-super
					span.input-group-addon#basic-addon1 #
					input.form-control(type="text" placeholder="Phone Number  (3 digit area code, 7 digit number)" aria-describedby="basic-addon1" ng-model="usrData.number")
				p.jumbo#votebtn1
					a.btn.btn-primary.btn-lg(role="button" ng-click="saveNumber(usrData.number)") Vote now








		div#voteSection

			div.jumbotron

				div.well.well-lg.in
					h3.title VOTING GRID



				table.voteTable


					//	VOTE ORDER
					tr.voteTableElement
						td.voteTableElement
						td.voteTableElement
							p 1
						td.voteTableElement
							p 2
						td.voteTableElement
							p 3
						td.voteTableElement
							p 4

					//	VOTES
					tr.voteTableElement
						//CANDIDATE
						td.voteTableElement		
							p {{candids[1]}}
						//
						td.voteTableElement
							p
								a.btn.btn-default#r1c1(ng-click="aPick('r1c1')") pick
						td.voteTableElement
							p
								a.btn.btn-default#r1c2(ng-click="aPick('r1c2')") pick
						td.voteTableElement
							p
								a.btn.btn-default#r1c3(ng-click="aPick('r1c3')") pick
						td.voteTableElement
							p
								a.btn.btn-default#r1c4(ng-click="aPick('r1c4')") pick


						
					tr.voteTableElement
						//CANDIDATE
						td.voteTableElement
							p {{candids[2]}}
						//
						td.voteTableElement
							p
								a.btn.btn-default#r2c1(ng-click="aPick('r2c1')") pick
						td.voteTableElement
							p
								a.btn.btn-default#r2c2(ng-click="aPick('r2c2')") pick
						td.voteTableElement
							p
								a.btn.btn-default#r2c3(ng-click="aPick('r2c3')") pick
						td.voteTableElement
							p
								a.btn.btn-default#r2c4(ng-click="aPick('r2c4')") pick



					tr.voteTableElement
						//CANDIDATE
						td.voteTableElement
							p {{candids[3]}}
						//
						td.voteTableElement
							p
								a.btn.btn-default#r3c1(ng-click="aPick('r3c1')") pick
						td.voteTableElement
							p
								a.btn.btn-default#r3c2(ng-click="aPick('r3c2')") pick
						td.voteTableElement
							p
								a.btn.btn-default#r3c3(ng-click="aPick('r3c3')") pick
						td.voteTableElement
							p
								a.btn.btn-default#r3c4(ng-click="aPick('r3c4')") pick


					tr.voteTableElement
						//CANDIDATE
						td.voteTableElement
							p {{candids[4]}}
						//
						td.voteTableElement
							p
								a.btn.btn-default#r4c1(ng-click="aPick('r4c1')") pick
						td.voteTableElement
							p
								a.btn.btn-default#r4c2(ng-click="aPick('r4c2')") pick
						td.voteTableElement
							p
								a.btn.btn-default#r4c3(ng-click="aPick('r4c3')") pick
						td.voteTableElement
							p
								a.btn.btn-default#r4c4(ng-click="aPick('r4c4')") pick


				p#votebtn2
					a.btn.btn-success.btn-lg(ng-click="submitVote()") VOTE

	script(src="/javascripts/voteCtrl.js")

	